#newTodoField.field.has-addons
    .control.is-expanded
        input#groupName.input(type="text" placeholder="group Name")
        input#newTodoInput.input(type="text" placeholder="Enter a new todo 🖋 ...")
    .control.has-icons-right
        a#addTodoBtn.button
            i.fas.fa-plus