//-script.
    console.log(groups.groupname)
//-each group in groupNames
    li.a(href='#crew4' group=group.groupname) crew4
//-else
    p Nothing
    
    
h.editGroup(type="text" value= todo.groupId)