header
    .hero
        .hero-body
            .container
                h1.title 📑 Todo List 
                br
                ul.group
                    li
                        a.active(href='#crew1') crew1
                    li
                        a(href='#crew2') crew2
                    li
                        a(href='#crew3') crew3
                    li
                        a(href='#crew4') crew4
                                                     li
                        a(href='#tweak') 수정
                br
                include addTodo.pug