header
    .hero
        .hero-body
            .container
                h1.title 📑 Todo List 
                br
                div
                    ul#groups.groupList
                        each group in groupNames
                            include group.pug
                        else
                            p Nothing
                            a.active(href='#crew1') crew1
                        //-else
                            //li
                                a(href='#crew4') crew4
                    div.cateModi
                        a(href='#tweak') 그룹리스트
                br
                include addTodo.pug