body {
  display: flex;
  min-height: 100vh;
  padding-top: 40px;
  background: linear-gradient(#fff, #eee);
  justify-content: center;
}

.main-card {
  width: 100%;
  height: fit-content;
  max-width: 600px;
  padding: 20px 0;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
}

.title {
  font-weight: lighter;
  position: relative;
  left: -20px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  height: 1px;
  background: #eee;
  width: 520px;
}

/*Navigation*/
.group {
  width: 100%;
  height: 60%;
  display: flex;
  float: left;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 3px;
}

.group ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 253, 253);
}

.group li {
  float: left;
}

.group li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.group li a:hover {
  background-color: rgb(158, 134, 134);
  border: 3px;
  border-color: rgb(241, 6, 6);
}

.cateModi {
  position: absolute;
  top: 100px;
  right: 32px;
  color: rgb(0, 0, 0);
}

/*New Todo Enroll*/
.hero-body {
  padding-bottom: 10px;
}

#newTodoField {
  flex-direction: row;
  display: flex;
  border-radius: 3px;
}

#groupName {
  width: 23%;
}

#newTodoInput {
  width: 77%;
}

#addTodoBtn {
  background: #ccc;
  color: #222;
  transition: 0.3s;
}

#addTodoBtn:hover {
  background: #222;
  color: #ccc;
}

/*Todo List*/
.todoItem {
  width: 520px;
  flex-direction: row;
  display: flex;
  margin-bottom: 4px !important;
}

.taskControl {
  position: relative;
  flex-direction: row;
  display: flex;
}

.editGroup {
  width: 20%;
}

.editTask {
  /*position: absolute;*/
  width: 75%;
  height: 100%;
  /*top: 0;*/
  padding: 0 10px;
  font-size: 1rem;
  display: none;
}

#newTodoField {
  width: 520px;
  display: flex;
}

.taskBtn {
  justify-content: flex-start;
}

.toggleBtn,
.taskBtn,
.deleteBtn {
  transition: 0.3s;
}

.todoItem[tododone="1"] .toggleBtn {
  background: #ccc;
  color: #222;
}

.todoItem .toggleBtn:hover {
  background: #222;
  color: #ccc;
}

.taskBtn:hover {
  color: #999;
  background: #eee;
  cursor: text;
}

.deleteBtn:hover {
  background: firebrick;
  color: white;
}
